<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <connectionStrings>
    <add name="RefundConnectionString" connectionString="Data Source=.\SQLExpress;Database=Ecom;User Id=PeachRefunds;Password=!PeachRefunds$;Connect Timeout=3" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="InstanceName" value="DEV" />
    <add key="RefundsToProcess" value="creditcard_peach" />
        
    <add key="PeachPayments.APIBaseUrl" value="https://testapi.peachpayments.com" />
    <add key="PeachPayments.RefundEndpoint" value="/v1/checkout/refund" />
    <add key="PeachPayments.Secret" value="3e5fdfdda59511ea93d502d14de18c0c" />
    <add key="PeachPayments.EntityId" value="8ac7a4ca7279acb401727a24eb48013b" />
    
    <add key="EmailErrorNotifications" value="true" />
    <add key="ErrorNotificationsRecipients" value="lford@mrpg.com" />
    <add key="SMTPHostName" value="exchangeonsite.mrpricegroup.com" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPFromAddress" value="peachrefundsdev@mrpg.com" />        
  </appSettings>  
</configuration>
