<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  <appSettings>
    <add key="InstanceName" value="DEV" />        
    <add key="PeachPayments.APIBaseUrl" value="https://testapi.peachpayments.com" />
    <add key="PeachPayments.RefundEndpoint" value="/v1/checkout/refund" />    
  </appSettings>  
</configuration>
